* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: #ecb0f7;
}

.page__header--title {
  margin: 1.5em;
  text-align: center;
  font-family: 'Bellota', cursive;
  font-size: 40px;
}
.page__header--title::first-letter {
  text-transform: capitalize;
}

.page__main--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__main--form--label {
  margin: 20px;
}

.page__main--form--label::first-letter {
  text-transform: capitalize;
}

.page__main--form--input {
  height: 2.25em;
  margin-bottom: 20px;
  border: 2px solid rgba(80, 77, 77, 0.479);
}
.page__main--form--button {
  text-transform: capitalize;
  width: 6em;
  height: 2em;
  border: none;
  background: rgb(45, 209, 250);
  color: white;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 20px;
}

.reset {
  background: red;
}
.page__main--form--instructions {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1em;
  border: 5px double rgb(98, 198, 238);
  text-align: center;
  width: 30%;
  margin: auto;
}

.page__main--form--instructions::first-letter {
  text-transform: capitalize;
}

.page__main--form--input::first-letter {
  text-transform: capitalize;
}

.span {
  text-transform: capitalize;
}

.page__footer {
  padding: 1em;
  border: 5px double rgb(98, 198, 238);
  text-align: center;
  width: 30%;
  margin: 20px auto;
}

/* .page__footer--counter {
  padding: 1em;
  border: 1px solid rgb(98, 198, 238);
} */

.page__footer--counter::first-letter {
  text-transform: capitalize;
}
